@import url('https://fonts.googleapis.com/css?family=Lato');
@import "compass/css3";

#top, #bottom, #left, #right {
	background:#b5b8c4;
	position: fixed;
	}
	#left, #right {
		top: 0; bottom: 0;
		width: 1vw;
		}
		#left { left: 0; }
		#right { right: 0; }
		
	#top, #bottom {
		left: 0; right: 0;
		height: 1vw;
		}
		#top { top: 0; }
		#bottom { bottom: 0; }
		
#images{
	justify-content:space-evenly;
	position:center;
}

@media 
/* Fairly small screens including iphones */
only screen and (max-width: 500px),

/* iPads */
only screen and (min-device-width: 768px) and (max-device-width: 1024px) 

{
	#top, #bottom, #left, #right { display: none; }
}
h1 {
  padding-top:3vw;
  font-size:3vw;
  letter-spacing:.5em;
  color: #8D2D56;
  text-align:center;
  font-family: 'Lato', sans-serif;
  text-transform:uppercase;
}

html,body{
	padding:0;
	margin:0;
}
html{
	height: 100%;

}
body{	
	background-color: #0a507c;
}
.flex-container, .flex-container2 {
  padding: 0.5%;
  margin: 0;
  list-style: none;
  
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-flex-flow: row wrap;
  justify-content:space-evenly;
}

.flex-item {
  background: #edf8ff;
  padding: 1%;
  width: 75%;
  height: 8vw;
  margin-top: 1vw;
  
  line-height: 6vw;
  color: #1689b9;
  font-weight: bold;
  font-size: 3em;
  text-align: left;
  border-radius: 15px;
}
.flex-container2 .flex-item {
  background:#fefefe;
  padding: 0.5%;
  width: 87%;
  height: 150px;
  margin-top: 10px;
  
  line-height: 150px;
  color: #1689b9;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
  border-radius: 15px;
}
.wrapper{
	height:auto;
	width:auto;
}