body {
		text-align: center;
		background: #0a507c;
		margin: 0px;
}


a {
		color: #000;
		text-decoration: none;
		text-transform: uppercase;
		font-family: Helvetica;
}



/* IMAGE STYLING */
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/* NAVIGATION BAR STYLING */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
	position: fixed;
	width: 100%;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 2px 4px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}