body {
    text-align: center;
    background: #0a507c;
    margin: 0px;
}

a {
    text-decoration: none;
    text-transform: uppercase;
    font-family: Helvetica;
}

input[type=text], input[type=password] {
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    font-family: Helvetica;
    font-size: 18pt;
} 

input[type=submit] {
    color: #fff;
    background: #4CAF50;
    margin: 20px;
    width: 140px;
    height: 50px;
    line-height: 40px;
    border: none;
    border-radius: 10px;
    position: relative; 
    text-transform: uppercase;
    font-family: Helvetica;
}

label {
    display: inline-block;
    width: 300px;
    text-align: right;
    font-size: 20pt;
    font-family: Helvetica;
    color: #fff;
}

#result {
    font-size: 20pt;
    font-family: Helvetica;
    color: #fff;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* NAVIGATION BAR STYLING */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
	position: fixed;
	width: 100%;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 4px 6px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}